 <footer>
      <div class="footerLeft">
          <h3>Don't miss out</h3>
          <p>sign up for the latest products and coupons</p>
          <form>
              <div class="form-group">
                  <label>Email address</label>
                  <input class="form-control" placeholder="enter email address">
              </div>
              <button>subscribe</button>
          </form>
          <p>
            By signing up, I agree to receive emails from L'Oreal Paris and other L'Oreal brands and programs. 
            Click to read our <a href="#">Privacy Policy</a> & <a href="#">Terms and Conditions.</a> Non-US consumers should visit the country website serving their region.
          </p>
          <ul>
            <li>
                <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
      </div>
      <div class="footerRight">

        <div class="socialMedia">
          <a href="facebook.com"><i class="fab fa-facebook"></i></a>
          <a href="instagram.com"><i class="fab fa-instagram"></i></a>
          <a href="twitter.com"><i class="fab fa-twitter"></i></a>
        </div>


       <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.6737636089433!2d39.284096814772205!3d-6.809479295078406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4b1a238469cd%3A0x20ac084f53c375a2!2sViva%20Towers!5e0!3m2!1sen!2stz!4v1595220002356!5m2!1sen!2stz"  frameborder="0" 
        style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
       </div>

      
      </div>
      
    </footer>
    <P class="copyright">
      This site was designed and made with love from <a href="#">spacetech</a><br/>
      &copy;copyright 2020
    </P>