    <header>
      <nav>
        <div class="topNav">
          <h1>Monalisa</h1>
          <i class="fas fa-bars fa-2x humberMenu"></i>
          <div class="accInfo">
            <a href="#" class="mr-3"><i class="far fa-user mr-1"></i>log In</a>
            <span>|</span>
            <a href="#" class="mr-3 ml-3">Create Account</a>
            <a href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
          </div>
        </div>
        <div class="bottomNav">
            <form>
              <input type="text">
              <i class="fas fa-search ml-1 red"></i>
            </form>
            <ul>
              <li>
                  <a href="#"><i class="fab fa-staylinked mr-2"></i>SETUP/DESIGN</a>
                  <ul class="dropDown">
                      <li><a href="#">bathroom</a></li>
                      <li><a href="#">kithen</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#"><i class="fas fa-sink mr-2"></i>BATHROOM</a>
                  <ul class="dropDown">
                      <li><a href="#">toilet</a></li>
                      <li><a href="#">taps</a></li>
                      <li><a href="#">mirrors</a></li>
                      <li><a href="#">jacuzzi</a></li>
                      <li><a href="#">showers</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#"><i class="fas fa-utensils mr-2"></i>KITCHEN</a>
                  <ul class="dropDown">
                      <li><a href="#">sink</a></li>
                      <li><a href="#">boards</a></li>
                  </ul>
                </li>
              <li><a href="#"><i class="far fa-lightbulb mr-2"></i>LIGHTS</a></li>
              <li>
                  <a href="#"><i class="fas fa-th-large mr-2"></i>TILES</a>
                  <ul class="dropDown">
                      <li><a href="#">floor</a></li>
                      <li><a href="#">wall</a></li>
                      <li><a href="#">bathroom</a></li>
                      <li><a href="#">kithen</a></li>
                  </ul>
              </li>
              <li class="hr"><hr/></li>
              <li><a href="#"><i class="fas fa-house-damage mr-2"></i>Showroom</a></li>
              <li><a href="#"><i class="fas fa-address-card mr-2"></i>about us</a></li>
              <li><a href="#"><i class="fas fa-house-envelope mr-2"></i>Contact Us</a></li>
            </ul>
        </div>
      </nav>
    </header>