.mt{
    margin-top: 15px;
}
.red{
    color: red;
}
ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    padding: 0 15px;
    z-index: 300;
    background-color: red;
    color: white;
}

.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

}

.bottomNav{
    margin-top: 15px;
    position: fixed;
    right: 0;
    top: -80vh;
    left: 40%;
    background-color:white;
    padding-left: 15px;
    padding-right: 15px;
    z-index: -10;
    transition:1s;
}

.bottomNav ul li{
    display: block;
}


.bottomNav input{
    margin-top: 15px;
    display: block;
    width: 100%;
}
.banner{
    margin-top: 10vh;
    height: 50vh;
}

.middleBanner{
    height: 100%;
}

.middleBanner img{
    height: 50vh;
    width: 100%;
}

@media (max-width: 576px){
    .categories h2{
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) and (min-width: 576px){
   
}

@media (min-width: 768px){

}

@media (max-width: 992px){
    .accInfo{
        display: none;
    }
    

    .sideBanner{
        display: none;   
    }
}
@media (min-width: 992px){
   

    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 14vh;
        background-color: red;
        padding: 0 10vh;
        z-index: 300;
    }

    .banner, .middleBanner img{
        height: 80vh;
    }
    .humberMenu{
        display: none;
    }

    .topNav{
        height: 8vh;
    }

    .accInfo a{
        color: white
    }

    .bottomNav{
        margin-top: 0;
        position: fixed;
        right: 0;
        top: 8vh;
        left: 0;
        background-color:white;
        padding:0 5vw;
        z-index: 0;
        height: 6vh;
        transition:none;
    }

    .bottomNav ul li{
        display: inline-block;
        margin-right: 25px;
        height: 2vh;
        margin-top: 2vh;
    }

    .bottomNav ul li a{
        font-size: 1rem;
        text-transform: uppercase;
        color: black;
    }
    
    .bottomNav ul{
      position: relative;
    }
    .bottomNav .hr{
        display: none;
    }

    .bottomNav form{
        position: absolute;
        right: 5vw;
        top: 0;
        bottom: ;
        margin-top: 0;
        display: flex;
        align-items: center;
    }

    .bottomNav form input{
        height: 2vh;
        margin-top: 2vh;
        padding: 10px 10px;
        font-size: .9rem;
        border-radius: 2vh;
        display: inline-block;
        z-index: 500;
        outline: none;
        box-shadow: none;
    }

    .bottomNav form i{
        font-size: 1.5rem;
    }

    /*the end of navigation*/
    .banner{
        height: 60vh;
        padding: 0 5vw;
        display: flex;
        padding-top: 5vh;
    }
    .middleBanner{
        width: 70%;
        height: 60vh;
    }
    .middleBanner img{
        height: 60vh;
    }
    .sideBanner{
        height: 60vh;
        width: 15%;
        position: relative;
    }

    .sideBannerImages{
        display: grid;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .sideBannerImages img{
        display: inline-block;
        height: 100px;
        width: 100px;
    }

    .sideLinks1, .sideLinks2{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
    }

    .sideLinks2{
        justify-content: flex-end;
    }

    .sideLinks .leftSideLinks{
        position: ;
    }

    .sideLinks ul li{
        height: 30px;
        width: 30px;
        margin: 10px;
        background-color: red;
        color: red;
        border-radius: 30px;
    }


}