.mt{
    margin-top: 15px;
}
ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    padding: 0 15px;
    z-index: 300;
}

.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

}

.bottomNav{
    margin-top: 15px;
    position: fixed;
    right: 0;
    top: -80vh;
    left: 40%;
    background-color:white;
    padding-left: 15px;
    padding-right: 15px;
    z-index: -10;
    transition:1s;
}

.bottomNav ul li{
    display: block;
}


.bottomNav input{
    margin-top: 15px;
    display: block;
    width: 100%;
}
.banner{
    margin-top: 10vh;
    height: 50vh;
}

.bannerItem{
    height: 100%;
}

.bannerItem img{
    height: 50vh;
    width: 100%;
}

@media (max-width: 576px){
    .categories h2{
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) and (min-width: 576px){
   
}

@media (min-width: 768px){

}

@media (max-width: 992px){
    .accInfo{
        display: none;
    }
}
@media (min-width: 992px){
    .banner, .bannerItem img{
        height: 80vh;
    }
    .humberMenu{
        display: none;
    }
}